<a href="https://colab.research.google.com/github/ylmgrbzz/Machine-Learning-Projects-With-DecisionTreeClassifier-And-RandomForestClassifier/blob/main/Pokemon_Winner_Prediction_With_DecisionTreeClassifier_And_RandomForestClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet
from sklearn.tree import DecisionTreeClassifier,export_graphviz
import numpy as np
import matplotlib.pyplot as plt
import graphviz
from sklearn.ensemble import RandomForestClassifier

In [74]:
poke=pd.read_csv("pokemon.csv")

In [75]:
poke.head(3)

   First_pokemon  Second_pokemon  Winner
0            266             298     298
1            702             701     701
2            191             668     668

In [76]:
poke.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   First_pokemon   50000 non-null  int64
 1   Second_pokemon  50000 non-null  int64
 2   Winner          50000 non-null  int64
dtypes: int64(3)
memory usage: 1.1 MB

In [77]:
len(poke['First_pokemon'].unique())

784

In [78]:
(784*783)/2

306936.0

In [79]:
poke["Winner"]=poke["First_pokemon"]==poke["Winner"]

In [80]:
poke.head(4)

   First_pokemon  Second_pokemon  Winner
0            266             298   False
1            702             701   False
2            191             668   False
3            237             683   False

In [81]:
poke["Winner"]=np.where(poke["Winner"],0,1)

In [82]:
poke.head(30)

    First_pokemon  Second_pokemon  Winner
0             266             298       1
1             702             701       1
2             191             668       1
3             237             683       1
4             151             231       0
5             657             752       0
6             192             134       1
7              73             545       1
8             220             763       1
9             302              31       1
10            442             130       1
11            701             624       0
12             15             283       1
13            151              87       0
14            269             462       0
15            763             448       1
16            143             263       1
17            365             240       1
18            499             774       0
19            563             578       0
20            440             687       1
21            373             441       1
22            654             671       1
23            121             355       0
24            609             649       1
25            270             708       0
26            460             568       1
27            626             767       1
28            139             451       0
29            694             747       0

In [83]:
y=poke[["Winner"]]
x=poke.drop("Winner",axis=1)

In [84]:
x_train,x_test,y_train, y_test= train_test_split(x,y,test_size=0.95,random_state=21)

In [85]:
tree=DecisionTreeClassifier()
model=tree.fit(x_train,y_train)
model.score(x_test,y_test)

0.5812

In [86]:
tree=DecisionTreeClassifier()
model=tree.fit(x,y)
model.score(x,y)

1.0

In [87]:
x_train

       First_pokemon  Second_pokemon
25379             77             638
29068            620             427
29785            754             353
38717            152             753
48004            474             298
...              ...             ...
16432            488             725
8964             590             304
5944             508             291
5327             602             681
15305            406             737

[2500 rows x 2 columns]

In [88]:
rf=RandomForestClassifier(n_estimators=300)
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.6120210526315789

In [89]:
pokemon1=pd.read_csv('pokemon1.csv')

In [90]:
pokemon1.head(3)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False

In [91]:
poke.head(3)

   First_pokemon  Second_pokemon  Winner
0            266             298       1
1            702             701       1
2            191             668       1

In [92]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=10,train_size=0.95)

In [93]:
rf=RandomForestClassifier(n_estimators=200)
model=rf.fit(x_train,y_train)
model.score(x_test,y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.7232

In [94]:
model.predict([[156,90]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

array([0])

In [95]:
pokemon1=pokemon1.set_index('Name')

In [96]:
pokemon1.head(3)

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False

In [97]:
pokemon1.loc['Venusaur']["#"]

3

In [98]:
def fight(p1,p2):
    id1=pokemon.loc[p1]["#"]
    id2=pokemon.loc[p2]["#"]
    sonuc=model.predict([[id1,id2]])
    if sonuc[0]==0:
        kazanan=p1
    else:
        kazanan=p2
    return kazanan

In [ ]:
fight('Venusaur','Pikachu')